@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{min-height: 100vh; background:#191919}

header{
  display: flex;
  flex-direction:  row;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 100px;
  
}

.nav{
  position: relative;
}

.Me{
  color: white;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
}
.nav-items a{
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  margin-left: 30px;
}

.nav-items a::before{
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.nav-items a:hover:before{width: 100%;}

  .typing{
    color:white;
    padding-top: 100px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: xx-large;

}

:root
{
  --ti-cursor-font-weight: 400;
}

.About 
{
  color: #fff;
  padding-top: 100px;
  text-align: center;
}



::-webkit-scrollbar
{
  width: 12px;
}
::-webkit-scrollbar-thumb
{
  background: #4f4f4f10;
  border-radius: 8px;
}